<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>PostIt | dashboard</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rasa|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

	<body>
		<!--HORIZONTAL NAVBAR-->
		<nav class="white dashboard">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo li">PostIt</a>
						<ul class="hide-on-med-and-down right">
								<li class="li">
									 <div class="center row">
											<div class="col s12 " >
												<div class="row" id="topbarsearch">
													<div class="input-field col s6 s12 li">
														<i class="material-icons prefix">search</i>
														<input type="text" placeholder="search" id="autocomplete-input" class="autocomplete red-text" >
														</div>
													</div>
												</div>
											</div>
									</li>
								<li class="li"><i class="material-icons">message</i></li>
								<li class="li"><a class="dropdown-button li" href="#!" data-activates="dropdown" style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enodi<i class="material-icons right">arrow_drop_down</i></a></li>
						</ul>
				</div>
				<ul id="dropdown" class="dropdown-content">
					<li><a href="#">My Profile</a></li>
					<li><a href="createGroup.html">Create Group</a></li>
					<li><a href="postMessage.html">Post Message</a></li>
					<li><a href="dashboard.html">Message Board</a></li>
					<li class="divider"></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">SignOut</a></li>
				</ul>
			</nav>
			<!--VERTICAL NAVBAR-->
			<ul class="side-nav fixed" id="slide-out" style="background-color:#5E2750;">
				<li class="brand-logo logo-text">PostIt</li>
				<li class="divider"></li>
				<li><a href="#" class="sidebar-text">GROUPS<i class="material-icons right sidebar-text">&nbsp;&nbsp;&nbsp;&nbsp;add_box</i></a></li>
				<li><a href="#" class="sidebar-text">General</a></li>
				<li><a href="#" class="sidebar-text">Andela</a></li>
				<li><a href="#" class="sidebar-text">Andela-BootCamp</a></li>
				<li class="divider"></li>
				<li><a href="#" class="sidebar-text">PERSONAL MESSAGES<i class="material-icons right sidebar-text">&nbsp;&nbsp;&nbsp;&nbsp;add_box</i></a></li>
				<li><a href="#" class="sidebar-text">Audu</a></li>
			</ul>
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

			<!--BODY-->
			<div class="row">
				<div class="col s12 m8 offset-m2 l9 offset-l3">
	        <div class="card-panel z-depth-1">
	          <div class="row valign-wrapper">
	            <div class="col s1">
	              <img src="images/pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	            </div>
	            <div class="col s11">
								<b>Xerxes</b><br><br>
	              <span class="black-text">
	                Hello. Feivel you didn't send the document to me yesterday
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>

				<div class="col s12 m8 offset-m2 l9 offset-l3">
	        <div class="card-panel z-depth-1">
	          <div class="row valign-wrapper">
	            <div class="col s1">
	              <img src="images/pic1.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	            </div>
	            <div class="col s11">
								<b>Feivel</b><br><br>
	              <span class="black-text">
	                Sorry I'll do that right away.
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>

				<div class="col s12 m8 offset-m2 l9 offset-l3">
	        <div class="card-panel z-depth-1">
	          <div class="row valign-wrapper">
	            <div class="col s1">
	              <img src="images/pic2.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	            </div>
	            <div class="col s11">
								<b>Adiel</b><br><br>
	              <span class="black-text">
	                When is the meeting holding
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>

				<div class="col s12 m8 offset-m2 l9 offset-l3">
	        <div class="card-panel z-depth-1">
	          <div class="row valign-wrapper">
	            <div class="col s1">
	              <img src="images/pic3.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	            </div>
	            <div class="col s11">
								<b>Ariella</b><br><br>
	              <span class="black-text">
	                Tomorrow
	              </span>
	            </div>
	          </div>
	        </div>
	      </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
