.nav-wrapper a {
  font-size:16px;
  font-family:Source Sans Pro, Calibri, sans-serif;
  color: #d2d2d2;
}

.logo {
  font-family:Source Sans Pro, Calibri, sans-serif;
  padding-left: 20px;
  font-weight: 300;
}

.parallax-container h1 {
  color:#d2d2d2;
  font-size:5em;
  font-family:Source Sans Pro, Calibri, sans-serif;
}

.parallax-container h4 {
  color:#d2d2d2;
  font-size:1.5em;
  font-family:Calibri light;
  font-weight: lighter;
  word-spacing: 3px;
}

.parallax-container .btn-large {
		background-color:#AD1457;
		color:#FFF;
		/*border-radius: 6px;*/
		margin-top:25px;
    font-size: 1.5em;
    font-family:Calibri light;
		border:2px solid #AD1457;
}

.parallax-container .btn-large:hover {
  background-color:#880E4F;
  color: #fff;
  border:2px solid #880E4F;
}

.cta {
  font-weight: 300;
  text-shadow: 1px 1px black;
}

.talk h4 {
  color:#212121;
  font-size:2.5em;
  font-family:Calibri light;
  font-weight: lighter;
}

.platform-background h4 {
	color: #880E4F;
	font-size:2.5em;
  font-family:Calibri light;
  font-weight: 600;
}

.platform-background p {
	color: #880E4F;
	font-size:1.5em;
  font-family:Source Sans Pro, Calibri, sans-serif;
}

.faq h5 {
	font-size:2.5em;
  font-family:Calibri light;
  padding: 38px 0px;
}

.faq li {
	padding: 6px 0px;
}

.faq li a {
	color: #880E4F;
}

.faq li a:hover {
	color: #880E4F;
	text-decoration: underline;
}

/*SignIn and SignUp form*/
.tabs .indicator {
	background-color: #D81B60 !important;
}

.account {
	margin-top:110px;
	height:700px;
}

.account .tab a {
	color: #000 !important;
}

.account h5 {
	padding: 20px 0px;
}

.account .signup {
	padding: 0px 80px;
}

.account .signin {
	padding: 0px 80px;
}

.account .button button {
	padding: 0px 70px;
	background-color: #EC407A !important;
}

/*DashBoard*/
.dashboard .li {
  padding: 0px 12px;
  color: #333 !important;
}

.dashboard li a:hover {
  background-color: transparent !important;
}

.fixed .logo-text {
  color: #fff !important;
  font-size: 28px !important;
  text-align: center !important;
}

.fixed .sidebar-text {
  color: #e0e0e0 !important;
}

.fixed li a {
  font-family: 'Raleway', sans-serif;
  font-size: 13px !important;
}

/*CREATE GROUP*/
.group-container h2 {
  font-family: Calibri;
  font-size: 3em;
  color: #424242;
}

.group-container p {
  font-family: Calibri;
  font-size: 1.3em;
  color: #424242;
}

.group-container .input-field {
  margin-top: 50px;
}

.group-container label {
  color: #424242 !important;
  font-size: 1.2em !important;
}

.group-container .button button {
	border: 2px solid #EC407A !important;
  border-radius: 7px;
  font-family: Calibri;
  background-color: transparent !important;
  color: #424242;
  margin: 70px 0px 0px 55px;
}

/*RESET PASSWORD*/
.reset-password {
  margin-top: 80px !important;
}

.reset-password h2 {
  font-family: Calibri;
  text-align:center;
  color: #424242 !important;
  font-size: 3em !important;
}

.reset-password p {
  font-family: Calibri;
  font-size: 1.3em;
  text-align:center;
  color: #424242;
}

.reset-password .button button {
	border: 2px solid #EC407A !important;
  border-radius: 7px;
  font-family: Calibri;
  background-color: #EC407A !important;
  color: #fff;
}

/*Footer*/
.page-footer li {
	padding: 6px 0px;
}

.page-footer li a {
	color: #fff;
}

.page-footer li a:hover {
	color: #880E4F;
}
/*.thin-text {
  font-weight: 300;
  background: rgba(255, 255, 255, .1);
  border-radius: 10px;
  padding: 20px;
}*/
